.button{
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: orange;
    color: rgb(20, 17, 17);
  }
   &:hover{

    transform: scale(1.05);

  }
  &:active{
    transform: scale(0.9);
  }
}